@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic");

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #5E5C7F;
  background-color: #F9F9FF;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1, h2, h3, h4, h5, h6 {
  color: #454360;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #FF4C60;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #353353;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

blockquote {
  padding: 20px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  background: #F7F7F7;
  border-radius: 10px;
}


#video-background {
  height: 100%;
  position: fixed;
  width: 100%;
}

blockquote p {
  line-height: 1.6;
}

/*=================================================================*/
/*                      SECTIONS                             
/*=================================================================*/
main.content {
  margin-left: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main.content.open {
  opacity: 0.8;
  -webkit-transform: translateX(290px);
  -moz-transform: translateX(290px);
  -ms-transform: translateX(290px);
  -o-transform: translateX(290px);
  transform: translateX(290px);
}

main.content-2 {
  margin-left: 110px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
main.content-2.open {
  opacity: 0.8;
  -webkit-transform: translateX(110px);
  -moz-transform: translateX(110px);
  -ms-transform: translateX(110px);
  -o-transform: translateX(110px);
  transform: translateX(110px);
}

section {
  padding-top: 110px;
  position: relative;
}

section.home {
  background: #454360;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}
section.home .intro h1 {
  color: #FFF;
  font-size: 36px;
}
section.home .intro span {
  color: #FFF;
  font-size: 16px;
}
section.home .social-icons li a {
  color: #FFF;
}
section.home.light {
  background: #F9F9FF;
}
section.home.light .intro h1 {
  color: #353353;
}
section.home.light .intro span {
  color: #454360;
}
section.home.light .social-icons li a {
  color: #353353;
}
section.home.light .social-icons li a:hover {
  color: #FFD15C;
}

.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
}
.section-title:before {
  content: "";
  background-image: url(../images/dots-bg.html);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

/*=================================================================*/
/*                      PARALLAX SHAPES                              
/*=================================================================*/
.parallax {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.parallax .layer {
  position: absolute;
}
.parallax .p1 {
  left: 10%;
  top: 10%;
}
.parallax .p2 {
  left: 25%;
  top: 30%;
}
.parallax .p3 {
  left: 15%;
  bottom: 30%;
}
.parallax .p4 {
  left: 10%;
  bottom: 10%;
}
.parallax .p5 {
  left: 45%;
  top: 10%;
}
.parallax .p6 {
  left: 40%;
  bottom: 10%;
}
.parallax .p7 {
  top: 20%;
  right: 30%;
}
.parallax .p8 {
  right: 30%;
  bottom: 20%;
}
.parallax .p9 {
  right: 10%;
  top: 10%;
}
.parallax .p10 {
  top: 45%;
  right: 20%;
}
.parallax .p11 {
  bottom: 10%;
  right: 10%;
}

/*=================================================================*/
/*                      DARK MODE                              
/*=================================================================*/
body.dark {
  color: #FFF;
  background-color: #353353;
}
body.dark .section-title {
  color: #FFF;
}
body.dark .section-title:before {
  background: url("../images/dots-bg-light.html");
}
body.dark .bg-dark {
  background: #302f4e !important;
}
body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: #FFF;
}
body.dark .triangle-top:before {
  border-bottom-color: #302f4e;
}
body.dark .timeline.exp .timeline-container::after, body.dark .timeline.edu .timeline-container::after {
  background: #302f4e;
}
body.dark .portfolio-filter li {
  color: #FFF;
}
body.dark a:hover {
  color: #FFF;
}
body.dark .portfolio-filter li.current {
  color: #FF4C60;
}
body.dark .blog-item .details h4.title a {
  color: #FFF;
}
body.dark .blog-item .details h4.title a:hover {
  color: #FF4C60;
}
body.dark .contact-info {
  background-image: url("../images/map-light.html");
}
body.dark .white-popup {
  background: #302f4e;
}
body.dark footer.footer {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}



/*=================================================================*/
/*                      RESPONSIVE SETTINGS
/*=================================================================*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .price-item {
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 991px) {
  header.desktop-header-1 {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
    transform: translateX(-290px);
  }

  header.mobile-header-1 {
    display: block;
  }

  main.content {
    margin-left: 0;
  }

  header.desktop-header-2 {
    -webkit-transform: translateX(-110px);
    -moz-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
    -o-transform: translateX(-110px);
    transform: translateX(-110px);
  }

  header.mobile-header-2 {
    display: block;
  }

  main.content-2 {
    margin-left: 0;
  }

  .desktop-header-3 .nav-link {
    padding: 7px 0;
  }
}
@media only screen and (max-width: 768px) {
  section.home {
    padding: 300px 0;
  }




  body.dark .triangle-top-sm:before {
    border-bottom-color: #302f4e;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 920px;
  }

  .triangle-left-md:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #FFF;
    position: absolute;
    left: 0;
    top: 20%;
  }

  body.dark .triangle-left-md:before {
    border-right-color: #302f4e;
  }
}
@media only screen and (max-width: 576px) {
  .parallax .p1 {
    left: 10%;
    top: 10%;
  }
  .parallax .p2 {
    left: 15%;
    top: 30%;
  }
  .parallax .p3 {
    left: 10%;
    bottom: 30%;
  }
  .parallax .p4 {
    left: 10%;
    bottom: 10%;
  }
  .parallax .p5 {
    left: 45%;
    top: 3%;
  }
  .parallax .p6 {
    left: 40%;
    bottom: 10%;
  }
  .parallax .p7 {
    top: 20%;
    right: 30%;
  }
  .parallax .p8 {
    right: 30%;
    bottom: 20%;
  }
  .parallax .p9 {
    right: 10%;
    top: 5%;
  }
  .parallax .p10 {
    top: 45%;
    right: 10%;
  }
  .parallax .p11 {
    bottom: 10%;
    right: 10%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}
@media only screen and (max-height: 500px) {
  .scroll-down {
    display: none;
  }
}
@media only screen and (max-height: 667px) {
  header.desktop-header-2 .footer {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
